#--------------------------------------------------
# ModelSim
#--------------------------------------------------
work/
transcript
vsim.wlf
modelsim.ini
*.wlf
*.log
*.bak

#--------------------------------------------------
# Simulation
#--------------------------------------------------
*.vcd
*.vstf
*.tmp

#--------------------------------------------------
# Quartus
#--------------------------------------------------
db/
incremental_db/
output_files/

#--------------------------------------------------
# VS Code
#--------------------------------------------------
.vscode/

#--------------------------------------------------
# Operating System
#--------------------------------------------------
.DS_Store
Thumbs.db